* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
h2{
  text-transform: uppercase;
  font-size: 3.5rem;
}
 h3{
    font-size: 2rem;
 }

 #coin-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
  .coin-wrapper{
    width: 25rem;
    height: 25rem;
    display: flex;
    background: none;
    border-radius: 50%;
    /* border: 1px solid red;   */
  }
  .choices-wrapper{
    width: 100%;
    padding: 2rem 0;
    /* border: 1px solid red; */
  }
  .coin-bet-wrapper{
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center; 
    gap:2rem;
  }
  .coinBetAmount{
    font-size: 1.25rem;
    width: 10rem;
  }
  .rouletteBetAmount{
    font-size: 1.25rem;
    width: 10rem;
  }
 
  /* THE CARD HOLDS THE FRONT AND BACK FACES */
  .thecoin{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    /* border: 1px dashed red; */
    cursor: pointer;
    user-select: none;
  }
  .thecoin[data-side="heads"]{
    transform: rotateY(0deg);
  }
  .thecoin[data-side="tails"]{
    transform: rotateY(180deg);
  }
  .choices-wrapper{
    display: flex;
    justify-content: center;
    gap:10rem;
    align-items: center;
  }
.coin-result{
  font-family: 'Courier New', Courier, monospace;
}
  #coin-game h1{
    font-family: 'Courier New', Courier, monospace;
  }

  .heads-button,
  .tails-button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    padding: 0.5rem 1rem ;
    background-color: white;
    border-radius: 5px;
    border:5px solid #adadad;
    cursor: pointer;
    user-select: none;
  }
  #roulette-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .chamber-wrapper{
    display: flex;
    width: 25rem;
    height: 25rem;
    background: none;
    border: 1px solid white;
    margin: 2rem;
    user-select: none;
  }
  .thechamber-box{
    display: flex;
    width: 100%;
    height: 100%;
  }
  .thechamber{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url(assets/images/roulette.png) center center / cover no-repeat ;
    cursor: pointer;
    /* animation: spinning 0.5s linear infinite; */
  }
  .thechamber.hidden{
    background: url(assets/images/roulette-empty.png) center center / cover no-repeat ;
  }
  .animation-spin{
    animation: spinning 0.25s linear infinite;
  }
 
  @keyframes spinning{
    0%{
      transform: rotateZ(0deg);
    }
    100%{
      transform: rotateZ(360deg);
    
    }
  }

  .thechamber[data-number="1"]{
    transform: rotateZ(0deg);
  
  }
  .thechamber[data-number="2"]{
    transform: rotateZ(60deg);
  
  }
  .thechamber[data-number="3"]{
    transform: rotateZ(120deg);
       
  }
  .thechamber[data-number="4"]{
    transform: rotateZ(180deg);
       
  }
  .thechamber[data-number="5"]{
    transform: rotateZ(240deg);
       
  }
  .thechamber[data-number="6"]{
    transform: rotateZ(300deg);
  }
  .shoot-txt{
    background-color: rgb(196, 196, 196);
    color: black;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
  }
  .shoot-txt.active{
    background-color: rgb(221, 35, 35);
  }
  .shoot-txt.active:hover{
    transform:scale(1.2);
  }

  .heads-button.activated,
  .tails-button.activated{
    background-color: #000;
    color: #be8337;
    border:5px solid #be8337;
  }
  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  /* .thecoin:hover{
    transform: rotateY(180deg);
  } */
  


  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
   .thefront{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    overflow: hidden;

    background-color: #be8337;
    color: #000;
  }

  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  .theback{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    overflow: hidden;
    background: #d9a556;

    /* background: #fafafa; */
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
  }
  .thefront>div,
  .theback>div{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .thefront>div{
    background: url(assets/images/coin-heads.png) center center / cover no-repeat ;

  }
  .theback>div{
    background: url(assets/images/coin-tails.png) center center / cover no-repeat ;

  }
  
  /*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
  .thefront h1, .theback h1{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
  }
  
  .thefront p, .theback p{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
  }

.games{
     width: 100%;
    height: 100vh;
}

.currencyinput {
  border: 2px inset #ccc;
  background-color: white;
}
.currencyinput input {
  border: 0;
}
  #rps-game{
   
    background-color: red;
  }
  #coin-game{
    background-color: rgb(210, 210, 210);
  }
    #roulette-game{
    background-color: black;
  }
.animation-flip {
    animation: flipping 1s linear infinite;
}

.balance-txt{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    position: fixed;
    top: 3rem;
    left:1rem;
    mix-blend-mode: difference;
    color:white;
}

.broken-glass{
  display: none;
  position: fixed;
  background: url(assets/images/glass.png) center center / cover no-repeat ;
  top:-10%;
  left: -7%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transform: scale(1.1) rotateZ(10deg);
}
.broken-glass.active{
  display: block;
  animation:broken 0.3s  1;
}
.day-txt{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  position: fixed;
  top: 1rem;
  left:1rem;
  mix-blend-mode: difference;
  color:white;
}
.coin-result-txt{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  margin-top: 2rem;
  animation: zoom 0.4s ease-in 1;
}


.animation-trigger{
  animation: trigger 1s  1;
}


@keyframes flipping {
    0% {
        -webkit-transform: translateX(0) rotateY(0deg) rotateX(0deg) rotateZ(0deg);
                transform: translateX(0) rotateY(0deg) rotateX(0deg) rotateZ(0deg);
                
      }
      25% {
        -webkit-transform: translateX(6%) rotateY(360deg) rotateX(-10deg) rotateZ(50deg);
                transform: translateX(6%) rotateY(360deg) rotateX(-10deg) rotateZ(50deg);
      }
      
      50% {
        -webkit-transform: translateX(0) rotateY(720deg) rotateX(0deg) rotateZ(0deg);
                transform: translateX(0) rotateY(720deg) rotateX(0deg) rotateZ(0deg);
      }
      75% {
        -webkit-transform: translateX(-6%) rotateY(360deg) rotateX(10deg) rotateZ(-50deg);
                transform: translateX(-6%) rotateY(360deg) rotateX(10deg) rotateZ(-50deg);
      }
      100% {
        -webkit-transform: translateX(0) rotateY(0deg) rotateX(0deg) rotateZ(0deg);
                transform: translateX(0) rotateY(0deg) rotateX(0deg) rotateZ(0deg);
      } 
}

@keyframes broken{
  0%{
    transform: scale(1) rotateZ(0deg);
    /* opacity: 0; */
  }
  100%{
    transform: scale(1.1) rotateZ(10deg);
    opacity: 1;
  }
}
@keyframes zoom{
  0%{
    transform: scale(1.4);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes trigger{
  0%{
    transform: scale(1);

  }
  30%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes flip-head {
    0% {
      -webkit-transform: rotateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: rotateY(360);
              transform: rotateY(360);
    }
}
@keyframes flip-tail {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180);
              transform: rotateY(180);
    }
}