* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 h1{
    font-size: 2.5rem;
 }

 #coin-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
  .maincontainer{
    width: 25rem;
    height: 25rem;
    display: flex;
    background: none;  
  }
  .choices-wrapper{
    width: 100%;
    border: 1px solid red;
  }
  
  /* THE CARD HOLDS THE FRONT AND BACK FACES */
  .thecoin{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */

    transform-style: preserve-3d;
    transition: all 0.8s ease;
    border: 1px dashed red;
  }
  .thecoin[data-side="head"]{
    transform: rotateY(0deg);
  }
  .thecoin[data-side="tails"]{
    transform: rotateY(180deg);
  }
  .choices-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #coin-game h1{
    font-family: 'Courier New', Courier, monospace;
  }

  .heads-button,
  .tails-button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    padding: 0.5rem 1rem ;
    background-color: white;
    border-radius: 5px;
  }

  .heads-button.activated,
  .tails-button.activated{
    background-color: #000;
    color: #ffcf4b;
  }
  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  /* .thecoin:hover{
    transform: rotateY(180deg);
  } */
  


  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
   .thefront{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    overflow: hidden;
    background: #d8a825;
    color: #000;
  }

  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  .theback{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    overflow: hidden;
    background: #d8a825;

    /* background: #fafafa; */
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
  }
  .thefront>div,
  .theback>div{
    width: 80%;
    height: 80%;
    background: #ffcf4b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  /*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
  .thefront h1, .theback h1{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
  }
  
  .thefront p, .theback p{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
  }

.games{
     width: 100%;
    height: 100vh;
}
  #rps-game{
   
    background-color: red;
  }
  #coin-game{
    background-color: rgb(210, 210, 210);
  }
    #roulette-game{
    background-color: black;
  }
.animation-flip {
    animation: flipping 1s linear infinite;
}

.cash-txt{
    position: fixed;
    top: 1rem;
    font-size: 1rem;
}

@keyframes flipping {
    0% {
        -webkit-transform: rotateY(0deg) rotateX(0deg);
                transform: rotateY(0deg) rotateX(0deg);
                
      }
      25% {
        -webkit-transform: rotateY(360deg) rotateX(-10deg);
                transform: rotateY(360deg) rotateX(-10deg);
      }
      50% {
        -webkit-transform: rotateY(720deg) rotateX(0deg);
                transform: rotateY(720deg) rotateX(0deg);
      }
      75% {
        -webkit-transform: rotateY(360deg) rotateX(10deg);
                transform: rotateY(360deg) rotateX(10deg);
      }
      100% {
        -webkit-transform: rotateY(0deg);
                transform: translateY(0deg);
      } 
}


@keyframes flip-head {
    0% {
      -webkit-transform: rotateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: rotateY(360);
              transform: rotateY(360);
    }
}
@keyframes flip-tail {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180);
              transform: rotateY(180);
    }
}